/* Header Styles */
header {
    text-align: center;
    padding: 20px;
    background: none; /* No background color */
    color: rgba(30, 30, 30, 0.78); /* Font color with 78% opacity */
}

.header-container {
    display: inline-block;
}

header h1 {
    font-size: 1.5em; /* Smaller size to align with the four letters "LÅNG" */
    margin: 0;
    font-weight: 600; /* Semi-Bold */
    letter-spacing: 0.5px; /* Adjusted letter spacing */
}

header h2 {
    font-size: 2.5em; /* Size that matches the prominence needed for LÅNG */
    margin: 10px 0 0 0; /* Top margin to space out from h1 */
    font-weight: 700; /* Bold, giving it more weight compared to h1 */
    letter-spacing: 0.5px; /* Adjusted letter spacing to match Jonathan */
    color: inherit;
}