.content-section {
    padding: 40px 20px;
    margin-bottom: 40px;
    background-color: #f4f4f4;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    position: relative;
}

#about-me .section-header h2 {
    font-size: 2em;
    font-weight: 700;
    text-align: left;
    margin-bottom: 40px;
    margin-left: calc(16.6667%); /* Align with the second column (2/6) */
    color: #333333;
    text-decoration: underline;
    text-underline-offset: 4px;
    text-decoration-thickness: 2px;
}

.vector-image {
    max-width: 100%;
    height: auto;
    margin-top: 40px;
}